<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.subscribewebpage">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/TITLE_LIST_PAGE"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubscribeWebpage">
        <activity
            android:name=".ItemDetailHostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name=".SwInsertActivity">
        </activity>
    </application>

</manifest>